

@{
    ViewData["Title"] = "Index";
}
@model List<ProduktMitKategorieDüo>
<table class="table table-striped">
        <thead>
            <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Preis</td>
            <td>Vorrat</td>
            <td>Kategorie</td>
            <td>ErstellungsDatum</td>
            </tr>
        </thead>
       <tbody>

            @foreach (var item in Model)
            {
                <tr>
               <td>@item.ID</td>
                <td>@item.Name</td>
                 <td>@item.Preis</td>
                  <td>@item.Vorrat</td>
                   <td>@item.Kategorie.Name</td>
                    <td>@item.ErstellungsDatum.Date</td>
                     </tr>
            }

        </tbody>

    </table>

